:root {
  --vp-home-hero-name-color: #0758e0;
  --bg-color: #e0e5ec;
  --card-bg-brand: #0756e0ee;
  --card-bg: rgba(224, 229, 236, 0.548);
  --text-color: #000000;
  --text-color-brand: #ffffff;
  --shadow-light: rgba(163, 177, 198, 0.5);
  --shadow-dark: rgba(255, 255, 255, 0.6);
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-brand: rgba(7, 86, 224, 0.4);
}

.VPButton.mimicry {
  background: var(--card-bg);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  color: var(--text-color);
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow:
    5px 5px 10px var(--shadow-light),
    -5px -5px 10px var(--shadow-dark);
  border: 1px solid var(--border-color);
}

.VPButton.mimicry-brand {
  background: var(--card-bg-brand);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  color: var(--text-color-brand);
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow:
    5px 5px 10px var(--shadow-light),
    -5px -5px 10px var(--shadow-dark);
  border: 1px solid var(--border-color-brand);
}